@charset "utf-8";
/* 헤더 구역 푸터구역 등 기타 공통구역에 대한 스타일 */

body,
html,
#wrap {
    height: 100%;
}

.row {
    margin: 0 auto;
    max-width: 1180px;
}

.header-outer {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 9999;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.topmenu {
    background: #f5f5f5;
    color: #888;
    font-size: 12px;
    padding-top: 6px;
    padding-right: 8px;
    height: 30px;
    width: 100%;
    text-align: right;
}

.topmenu .login>a {
    padding: 0px 3px;
}

.topmenu .login>a:before {
    content: ':';
    padding-right: 10px;
    font-size: 6px;
}

.topmenu .login>a:first-child::before {
    display: none;
}

.topmenu .login>a:hover {
    color: #000;
}

.logoNav {
    position: relative
}

.logoNav h1 {
    width: 100%;
    height: 90px;
}

.logoNav .nav {
    position: absolute;
    top: 30px;
    right: 0%;
}


.logoNav .nav .depth1>li {
    display: inline-block;
    position: relative;
    padding: 5px 0 10px;
    width: 150px;
    text-align: center;
    font-size: 17px;
}

.logoNav .nav .depth1>li>a {
    position: relative;
    font-size: 17px;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    display: inline-block;
}

.logoNav .nav .depth1>li:hover>a {
    border-bottom: 2px solid #000;
}

.logoNav .nav .depth2 {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 120px;
    display: none;
    font-size: 13px;
    text-align: center;
    color: #333;
    z-index: 9999;
}

.logoNav .nav .depth1>li:hover {
    background: #f5f5f5;
}

.logoNav .nav .depth1>li:hover .depth2 {
    background: #f5f5f5;
}

.logoNav .nav .depth1 .depth2>li>a:hover {
    color: #f00;
}

.logoNav .nav .depth2>li {
    margin-top: 10px;
}

.logoNav .nav .depth2>a {
    display: block;
}

.logoNav .open_nav {
    display: none
}

.logoNav .close_nav {
    display: none
}

.decoBox {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 110px;
    display: none;
    background: #fff;
}

.logoNav.on .decoBox {
    display: block;
}

#footer {
    text-align: center;
}

.sns {
    font-size: 30px;
    color: #515151;
    padding: 50px 0;
}

.sns>a {
    padding-right: 5px;
}

.information {
    font-size: 12px;
}

.information a:first-child {
    padding-right: 20px;
}

.information a:nth-child(2),
.information a:nth-child(3) {
    padding: 0 20px;
    border-left: 1px solid #ccc;
}

.copyright {
    font-size: 12px;
    padding: 15px 0 30px;
}

.copyright .address {
    padding-bottom: 9px;
}

.copyright .copy {
    padding-bottom: 20px;
}

.goTop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999999999;
}

.goTop.on {
    display: block;
}

.goTop img {
    width: 60px;
    cursor: pointer;
    animation: flash 2s alternate infinite;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
    background: #fff;
}

.loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
}