@charset "utf-8";

/* 공통구역을 제외한 메인페이지 스타일 */
.section-outer {
    position: relative;
    padding-top: 120px;
}

/*슬라이드*/
.slide-inner .slide {
    height: 686px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.slide-inner .slide1 {
    background-image: url(../images/main_visual_1.jpg);
}

.slide-inner .slide2 {
    background-image: url(../images/main_visual_2.jpg);
}

/* 화살표  */ 
.slide-outer {
    position: relative;
}

.slide-outer .marrow {
    font-size: 80px;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    cursor: pointer;
}

.slide-outer .prevArrow {
    left: 10%;
    z-index: 999;
}

.slide-outer .nextArrow {
    right: 10%;
}

/* dotBox */
.slide-outer .slick-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.slide-outer .slick-dots li {
    display: inline-block;
}

.slide-outer .slick-dots li button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    text-indent: -99999px;
    overflow: hidden;
    margin: 0 5px;
}

.slide-outer .slick-dots li.slick-active button {
    background: #fff;
    width: 40px;
    border-radius: 50px;
}

.section_box1 {
    font-size: 17px;
    overflow: hidden;
    border-bottom: 1px solid #dfdfdf;
}

.section_box1 .mid_nav > li {
    float: left;
    width: 25%;
    padding: 25px 0;
}

.section_box1 .mid_nav > li > a {
    display: block;
    height: 200px;
    text-align: center;
    padding-top: 55px;
}

.section_box1 .mid_nav > li > a > p {
    padding-top: 15px;
}

.section_box1 .mid_nav {
    overflow: hidden;
}

.section_box1 .mid_nav .m_navli {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.section_box1.on .mid_nav .m_navli {
    animation: fadeInUp 1s both 0s;
}

.section_box1.on .mid_nav .m_navli:nth-child(1) {
    animation-delay: 0.2s; 
}

.section_box1.on .mid_nav .m_navli:nth-child(2) {
    animation-delay: 0.4s; 
}

.section_box1.on .mid_nav .m_navli:nth-child(3) {
    animation-delay: 0.8s; 
}

.section_box1.on .mid_nav .m_navli:nth-child(4) {
    animation-delay: 1s; 
}

.section_box2 {
    padding: 70px 0;
    overflow: hidden;
    color: #333;
}

.section_box2 .product .box2_img {
    float: left;
    width: 50%;
}

.section_box2 .product .text {
    float: right;
    width: 45%;
}

.section_box2 .product .text > h2 {
    padding: 20px 0;
    font-size: 35px;
}

.section_box2 .product .text > p {
    padding: 0 0 70px;
    font-size: 15px;
    line-height: 2em;
}

.section_box2 .product .text > button {
    border: 1px solid #ccc;
    font-size: 17px;
    padding: 10px 16px 12px;
    border-radius: 5px;
    background: #fff;
}

.section_box2 .product .text > button:hover {
    background: #f0f0f0;
}

.section_box2 .product {
    overflow: hidden;
}

.section_box2 .product .box2_img {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.section_box2 .product .text {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.section_box2.on .product .box2_img {
    animation: fadeInLeft 1.3s both;
}

.section_box2.on .product .text {
    animation: fadeInRight 1.3s both;
}

.section_box3 {
    width: 100%;
    height: 281px;
    color: #333;
    background: #f1f1f1;
    padding: 70px 0;
    text-align: center;
}

.section_box3 .info > ul > li {
    float: left;
    width: 50%;
}

.section_box3 .info > ul > li > a {
    display: block;
    background: #fff;
    border: 2px solid #333;
    margin: 0 45px;
    padding: 38px 0;
}

.section_box3 .info > ul > li > a > h2 {
    font-size: 22px;
}

.section_box3 .info > ul > li > a > p {
    font-size: 13px;
    padding-top: 15px; 
}

.section_box3 .info > ul > li > a:hover {
    background: #333;
    color: #fff;
    transition: all 0.5s;
}

.section_box3 .info {
    overflow: hidden;
}

.section_box3 .info .info_nav .info_navli {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.section_box3.on .info .info_nav .info_navli {
    animation: fadeInUp 0.8s both;
}

.section_box4 {
    padding: 110px 0 100px;
    text-align: center;
    height: 556px;
}

.section_box4 .gallery > ul > li {
    float: left;
    width: 33.3333%;
}

.section_box4 .gallery > ul > li > a > img:hover {
    opacity: 0.5;
    transition: all 0.5s;
}

.section_box4 .gallery > ul > li > a > p {
    padding-top: 15px;
    font-size: 14px;
}

.section_box4 .gallery > ul > li > a > p:hover {
    text-decoration: underline;
}

.section_box4 .gallery {
    overflow: hidden;
}

.section_box4 .gallery .gallery_nav .g_navli:nth-child(1) {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.section_box4 .gallery .gallery_nav .g_navli:nth-child(2) {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.section_box4 .gallery .gallery_nav .g_navli:nth-child(3) {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.section_box4.on .gallery .gallery_nav .g_navli:nth-child(1) {
    animation: fadeInLeft 1s both;
}

.section_box4.on .gallery .gallery_nav .g_navli:nth-child(2) {
    animation: fadeInUp 1s both;
}

.section_box4.on .gallery .gallery_nav .g_navli:nth-child(3) {
    animation: fadeInRight 1s both;
}

.section_box5 {
    width: 100%;
    height: 300px;
    background: url(../images/bg_tel2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    color: #fff;
}

.section_box5 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 0 20px;
    padding: 45px 5px 10px;
}


.section_box5 .overlay .text > h1 {
    font-size: 30px;
    font-weight: normal;
    opacity: 0.3;
}

.section_box5 .overlay .text > h2 {
    font-size: 45px;
    padding-top: 15px;
}

.section_box5 .overlay .text > p {
    font-size: 14px;
    padding-top: 12px;
}