@charset "utf-8";

#notice {
    padding-top: 120px;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.noticeImg {
    background-image: url(../images/sub_img5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 460px;
    width: 100%;
    position: relative;
}

.noticeImg .text {
    font-size: 42px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px #333;
}

.noticeNav {
    width: 100%;
    height: 120px;
    text-align: center;
}

.noticeNav li {
    display: inline-block;
    padding: 45px 35px;
}

.noticeNav li a {
    color: #888;
    font-weight: bold;
}

.noticeNav li a.on {
    font-size: 30px;
    color: #333;
    font-weight: bold;
}

.noticeTable {
    margin-top: 20px;
}

.noticeTable col:nth-child(1) {
    width: 5%;
}

.noticeTable col:nth-child(2) {
    width: auto;
}

.noticeTable col:nth-child(3) {
    width: 13%;
}

.noticeTable col:nth-child(4) {
    width: 13%;
}

.noticeTable col:nth-child(5) {
    width: 5%;
}

.noticeTable table {
    border: none;
    font-size: 14px;
}

.noticeTable th,
.noticeTable td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
}

.noticeTable tbody td:nth-child(1),
.noticeTable tbody td:nth-child(3),
.noticeTable tbody td:nth-child(4),
.noticeTable tbody td:nth-child(5) {
    text-align: center
}

.noticeTable th {
    background: #f2f2f2;
    border-top: 1px solid #999;
}

.noticeTable tbody tr:hover {
    background: #f2f2f2;
    transition: all 0.5s;
}

.searchBox {
    text-align: right;
    padding-top: 20px;
}

.searchBox select {
    height: 30px;
}

.searchBox input[type=text] {
    height: 30px;
    width: 200px;
    text-indent: 1em;
    border: 1px solid #333;
}

.searchBox input[type=submit] {
    height: 30px;
    background: #ddd;
    padding: 0 8px;
    border-radius: 5px;
    vertical-align: middle;
}

.noticePage .numlist {
    text-align: center;
    margin: 30px 0px;
    font-size: 16px
}

.noticePage .numlist span {
    padding: 5px 8px;
    display: inline-block;
}

.noticePage .numlist a {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #ddd;
    transition: all 0.5s;
}

.noticePage .numlist a.on {
    background: #ddd;
}

.noticePage .numlist a:hover {
    background: #ddd;
}