@charset "utf-8";

@media only screen and (max-width:1180px) {
    .row {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media only screen and (max-width:894px) {

    /* 로고 네비 구역 */
    .topmenu .login {
        display: none;
    }

    .logoNav .nav {
        position: absolute;
        top: 100%;
        width: 250px;
        right: 0;
        background: #fff;
        display: none;
    }

    .logoNav .nav .depth1>li {
        display: block;
        position: relative;
        padding: 10px 0 10px;
        width: auto;
        height: auto;
        text-align: center;
    }

    .logoNav .nav .depth1>li>a {
        display: block;
    }

    .logoNav .nav .depth2 {
        position: static;
        top: 100%;
        left: 0px;
        width: 100%;
        height: auto;
        display: none;
        font-size: 13px;
        text-align: center;
        color: #333;
        z-index: 9999;
    }

    .logoNav .open_nav {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
    }

    .logoNav .close_nav {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 850px) {
    .section_box2 .product .box2_img img {
        transform: scale(0.8);
    }

}