@charset "utf-8";


@media only screen and (max-width:950px) {
    .section_box4 .gallery ul>li>a>img {
        transform: scale(0.8);
    }
}

@media only screen and (max-width:894px) {
    .slide-outer .slide-inner .slide {
        height: 460px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }

    /* product */
    .section_box2 {
        clear: both;
        overflow: hidden;
        text-align: center;
        padding: 35px 15px 60px 15px;
    }

    .section_box2 .product .box2_img {
        float: none;
        width: 100%;
    }
    
    .section_box2 .product .text {
        float: none;
        width: 100%;
    }

    .section_box2 .product .text h2 {
        font-size: 35px;
        padding: 20px 0;
    }

    .section_box2 .product .text p {
        font-size: 15px;
        line-height: 30px;
        padding-bottom: 42px;
    }

    /* info */
    .section_box3 {
        width: 100%;
        height: 360px;
        color: #333;
        background: #f1f1f1;
        text-align: center;
        overflow: hidden;
        padding: 20px 0 20px;
    }

    .section_box3 .info .info_nav .info_navli {
        width: 100%;
    }

    .section_box3 .info .info_nav .info_navli a {
        display: block;
        padding: 20px 20px;
        transition: all 0.5s;
        background: #fff;
        margin: 25px 25px;
        text-align: center;
        border: 2px solid #333;
    }

    .section_box3 .info .info_nav .info_navli a h2 {
        font-size: 22px;
    }

    .section_box3 .info .info_nav .info_navli a p {
        padding-top: 15px;
        font-size: 13px;
    }

    .section_box3 .info .info_nav .info_navli a:hover {
        background: #333;
        color: #fff;
        transition: all 0.3s;
    }

}

@media only screen and (max-width:770px) {
    .section_box4 {
        padding: 10px 0 10px;
        text-align: center;
        height: 1100px;
    }

    .section_box4 .gallery > ul > li {
        float: left;
    }

    .section_box4 .gallery > ul > li:nth-child(1) {
        width: 100%;
    }

    .section_box4 .gallery > ul > li:nth-child(2) {
        width: 100%;
    }

    .section_box4 .gallery > ul > li:nth-child(3) {
        width: 100%;
    }
}
